{% extends 'indexR.html' %}
{%block content%}
<!doctype html>
<html>
  
  <body class="text-center">
    
<main class="form-signin">
<form method="post">
  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal">Inicie Sesion</h1>

  <div class="form-floating">
    {{ form.username }}
    <label for="floatingInput"></label>
  </div>
  <div class="form-floating">
    {{ form.password }}
    <label for="floatingPassword"></label>
  </div>
  <br>
  <div class="col-md-offset-3">
    <button class="btn btn-secondary" type="submit">Loguear</button>
    <a class="btn btn-secondary" href="{% url 'registro' %}" role="button">Nuevo Paciente</a>
  </div>
</form>
</main>


</body>
</html>
{%endblock content%}