{% extends 'index.html' %}

{% block titulo %} Medicos {% endblock %}

{%block content %}
<h1 class="text-secondary">Medicos</h1>
<nav class="navbar">
  <form class="container-fluid" action="{% url 'nucleo:especialidad'%}">
    <div class="input-group">
      <span class="input-group-text">Filtro: </span>
      <select class="form-select" aria-label="Default select example" name="especialidad">
        <option selected disabled>Especialidad</option>
        <!-- <option value="0">Ver todos</option> -->
        <option value="SE">Sin Especialidad</option>
        <option value="DG">Digestivo</option>
        <option value="MF">Medico de Familia</option>
        <option value="NE">Neurologo</option>
        <option value="DT">Dermatologo</option>
        <option value="TR">Traumatologo</option>
      </select>
      <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
  </form>
</nav>


<br>


{% if data %}

<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
    </tr>
  </thead>
  <tbody class="table-secondary">
    {% for e in data %}
    <tr>
      <td>{{ e.first_name }}</td>
      <td>{{ e.last_name }}</td>

    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay medicos con esa especialidad</h1>

    {% endif %}
  </tbody>
</table>

{% endblock content%}