{% extends 'index.html' %}
{% block titulo %} Pedir Cita {% endblock %}

{%block content %}
<h1 class="text-secondary">Pedir Cita</h1>
<style>
    form {
        width: 60%;
        margin:auto;
    }
</style>
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-secondary">Guardar</button>
</form>

{%endblock content%}