{% extends 'index.html' %}
{% block titulo %} Citas {% endblock %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{%block content %}
<h1 class="text-secondary">Historico de Citas</h1>
<br />
<nav class="navbar">
    <form class="container-fluid" action="{% url 'nucleo:filterPaciente'%}">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Paciente: </span>
            <select class="form-select" aria-label="Default select example" name="paciente">
                <option value="0">Todos</option>
                {% for p in pacientes %}
                <option value="{{ p.id }}">{{ p.first_name }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
    </form>
</nav>
{% if citas %}
<table class="table">
    <thead class="table-primary">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Paciente</th>
    </thead>
    <tbody class="table-secondary">
        {% for cita in citas %}
        <tr>
            <td>{{ cita.fecha }}</td>
            <td>{{ cita.observaciones }}</td>
            <td>{{ cita.idPaciente }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% else %}  
    <h1>No hay citas registradas</h1>
{% endif %}
</table>
{% endblock content %}