<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Medicos</ion-label>
    <ion-select (ionChange)="obtenerCitas($event)">
      <ion-select-option *ngFor="let m of medicos" [value]=m.id>{{m.first_name}} {{m.last_name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let c of citas, let i = index">
      <ion-label>{{c.fecha}}</ion-label>
      <ion-label>{{c.observaciones}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
